
.header {
  content: '';
  display: flex;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1516578883510-6eb7856a51ef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1325&q=80');
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.picture {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  bottom: -70px;
  border-radius: 50%;
  background-color: rgb(115, 0, 0);
  z-index: 3;
}

.picture img {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  border: 7px solid #ffefd5;
  animation: grow 1s;

}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(115, 0, 0);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  max-width: 700px;
  margin-bottom: 100px;
}

.title {
  margin-bottom: 10px;
  animation: up 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.sub-title {
  text-align: center;
  width: 80%;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 400;
  animation: up 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.icons {
  display: flex;
  gap: 15px;
  animation: grow 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.icons a {
  color: inherit;
}

.line {
  margin-top: 30px;
  width: 90%;
  border-color: rgb(115, 0, 0);
  background-color: rgb(115, 0, 0);
}

strong {
  font-weight: 900;
}

/* -----------LIST-and-ITENS----------- */
.list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 535px;
  gap: 20px;
}

.item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 1px 5px;
  width: 80%;
  height: 64px;
  background-color: #ffefd5;
  color: black;
  font-weight: 500;
  border-radius: 5px;
  z-index: 5;
}

.item-clicked {
  height: auto;
  flex-direction: column;
  width: 200%;
  padding: 10px;
}

.item-clicked img {
  width: 300px;
}

.item-content-closed {
  display: none;
}

.item-content-opened {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-height: 5600px; 
  animation: slowWidthItemGrow 0.5s ease, slowOpacity 1s ease;
}

.item:hover{
  transform: translateY(-3px);
  transition: 0.3s ease;
}

.item:nth-child(1) {
  animation: grow 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.item:nth-child(2) {
  animation: grow 2.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.item:nth-child(3) {
  animation: grow 2.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#item-content-2 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  max-width: 900px;
}

#item-content-2 ul p {
  text-align: center;
  margin-top: -20px;
}

#item-content-3 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

#item-content-3 h2{
  margin-bottom: 0;
  padding-bottom: 0;
}

.item img {
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.item-container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  
}

.item-card {
  width: 250px;
  height: auto;
  text-align: center;
  border: rgb(115, 0, 0) 2px solid;
  padding: 10px;
}

.item-card p {
  text-align: center;
}

.item-card span {
  font-size: 26px;
}

/* ----------ANIMATIONS---------- */
@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
  }
}

@keyframes slowWidthItemGrow {
  from{
    height: 0;
  }

  to{
    /* height: auto; */
  }
}

@keyframes slowOpacity {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

/* --------------RESPONSIVITY-------------- */
@media screen and (max-width: 992px) {

  .circular-line {
    display: flex;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 150px;
    background-color: rgb(115, 0, 0);
    clip-path: ellipse(100% 55% at 48% 55%);
  }

  .picture {
    bottom: -35px;
  }

  .main {
    margin-top: 30px;
  }

  .item-clicked {
    width: 90%;
  }

}
