.header-container{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container nav, ul{
    display: flex;
}

.header-container nav ul li a{
    padding: 10px;
}

.header-container nav ul li a:hover{
    color: rgb(24, 214, 135);
}

.hamburger{
    display: block;
    content: "";
    width: 30px;
    height: 3px;
    background-color: black;
    position: relative;
    transition: 0.8s;
}

.hamburger:after,
.hamburger:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    transition: 0.4s;

}

.hamburger:before{
    top: -10px;
}

.hamburger:after{
    top: 10px;
}

.header-container nav input:checked ~ label .hamburger{
    transform: rotate(45deg);
}

.header-container nav input:checked ~ label .hamburger:after{
    transform: rotate(90deg);
    top: 0;
}

.header-container nav input:checked ~ label .hamburger:before{
    top: 0;
}

.hamburger{
    display: none;
}

.header-container nav input{
    display: none;
}

@media (max-width: 900px) {
    .header-container{
        position: relative;
    }

    .header-container nav{
        flex-direction: column;
    }
    
    .header-container ul{
        display: none;
    }

    .header-container nav ul li{ 
        padding: 10px;
        text-align: center;
    }

    .header-container nav label div{
        padding: 20px 10px;
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(-50% 0);
    }

    .hamburger{
        display: block;
    }

    .header-container nav input:checked ~ ul{
        display: block;
        
    }

   
}

